
html {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.download {
  font-size: 16px;
  color: Aquamarine;
  font-weight: normal;
  text-decoration: underline;
}

.travel-guide {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

.recommends {
  color: gray;
  font-size: 21px;
}

.coming-soon {
  color: white;
  font-size: 46px;
  font-weight: normal;
}

.copyright {
  color: gray;
  text-align: right;
}
