
html {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  border: 1px solid powderblue;
}

img {
  border: 2px solid black;
}

.frames-img {
  border: white;
}

.frames, .paint, .brushes {
  color: white;
  width: 100%;
  font-size: 32px;
  padding: 0.25em 0.625em;
}

.price {
  color: blue;
  font-weight: bold;
}

.frames {
  background: lightcoral;
  float:left;
  flex-flow: row wrap;
  text-align: left;
}

.frames-text {
  width: 100%;
  font-size: 1.4em;
  padding-left: 20px;
  text-align: center;
  float: right;
}

.frames-img {
  padding: 15px 40px;
}

.paint {
  background: skyblue;
}

.brushes {
  background: mediumspringgreen;
  margin: 0 auto;
}
